@use '../abstract/' as a;

:root {
  // page control

  --font-fam-default: var(--fnt-fam-robotosans);
  --font-fam-headings: vaR(--fnt-fam-poppoinssans);
  --font-sz-default: var(--fnt-sz-m);
  --font-clr-default: var(--clr-zinc-600);
  --bg-clr-body: var(--clr-neutral-50);
  --border-radius: var(--size-50);
  --clr-primary: var(--clr-sky-500);

  // nav control
  --nav-menu-spacing: var(--size-300);
  --nav-item-spacing-mobile: var(--size-400);
  --nav-item-spacing: var(--size-50);
  --nav-bg-clr-mobile: var(--clr-primary);
  --nav-fnt-clr-mobile: var(--clr-neutral-50);
  --nav-bg-clr-desktop: var(--clr-zinc-800);
  --nav-fnt-clr-desktop: var(--clr-primary);
  --nav-hover-bg-clr-mobile: var(--clr-neutral-50);
  --nav-hover-fnt-clr-mobile: var(--clr-zinc-900);
  --nav-hover-bg-clr-desktop: var(--clr-primary);
  --nav-hover-fnt-clr-desktop: var(--clr-neutral-50);
  --nav-link-fnt-size: var(--fnt-sz-s);

  // footer

  --footer-bg-clr: var(--clr-zinc-800);
  --footer-fnt-clr: var(--clr-primary);

  // headings;
  --font-fam-heading-sub: var(--fnt-fam-robotomono);
  --font-sz-heading-main: clamp(4rem, 2.1818181818181817rem + 4.848484848484849vw, 8rem);
  --font-sz-heading-sub: clamp(1.4rem, 0.9130434782608694rem + 1.7391304347826086vw, 3rem);
  --font-ls-heading-main: clamp(0.4rem, 0.12727272727272732rem + 0.7272727272727273vw, 1rem);
  --font-ls-heading-sub: clamp(0.1rem, -0.3090909090909091rem + 1.090909090909091vw, 1rem);
  --font-wt-heading-main: var(--fnt-wt-700);
  --font-sz-heading-section: clamp(3rem, 2.090909090909091rem + 2.4242424242424243vw, 5rem);
  --font-wt-heading-section: var(--fnt-wt-700);

  // fonts

  --fnt-fam-ubuntusans: 'Ubuntu', sans-serif;
  --fnt-fam-ubuntumono: 'Ubuntu Mono', monospace;
  --fnt-fam-poppoinssans: 'Poppins', sans-serif;
  --fnt-fam-robotomono: 'Roboto Mono', monospace;
  --fnt-fam-robotosans: 'Roboto', sans-serif;
  --fnt-fam-grotesquesans: 'Space Grotesk', sans-serif;

  font-size: 62.5%;
  --fnt-sz-s: 1.4rem;
  --fnt-sz-m: 1.6rem;
  --fnt-wt-300: 300;
  --fnt-wt-400: 400;
  --fnt-wt-500: 500;
  --fnt-wt-600: 600;
  --fnt-wt-700: 700;
  --fnt-wt-900: 900;

  // colours

  --clr-neutral-50: #{a.$neutral-50};
  --clr-neutral-100: #{a.$neutral-100};
  --clr-neutral-200: #{a.$neutral-200};
  --clr-neutral-300: #{a.$neutral-300};
  --clr-neutral-300: #{a.$neutral-300};
  --clr-neutral-400: #{a.$neutral-400};
  --clr-neutral-500: #{a.$neutral-500};
  --clr-neutral-600: #{a.$neutral-600};
  --clr-neutral-800: #{a.$neutral-800};
  --clr-green-900: #{a.$emerald-900};
  --clr-green-600: #{a.$emerald-600};
  --clr-teal-600: #{a.$teal-600};
  --clr-zinc-600: #{a.$zinc-600};
  --clr-zinc-700: #{a.$zinc-700};
  --clr-zinc-800: #{a.$zinc-800};
  --clr-zinc-900: #{a.$zinc-900};
  --clr-rose-400: #{a.$rose-400};
  --clr-sky-500: #{a.$sky-500};

  // sizing

  --size-50: 0.5rem;
  --size-100: 1rem;
  --size-150: 1.5rem
  --size-200: 2rem;
  --size-250: 2.5rem;
  --size-300: 3rem;
  --size-350: 3.5rem;
  --size-400: 4rem;
  --size-450: 4.5rem;
  --size-500: 5rem;
  --size-550: 5.5rem;
  --size-600: 6rem;
  --size-650: 6.5rem;
  --size-700: 7rem;
  --size-750: 7.5rem;
  --size-800: 8rem;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  min-height: 100vh;
  position: relative;

  font-family: var(--font-fam-default);
  font-size: var(--font-sz-default);
  color: var(--font-clr-default);
  background: var(--clr-neutral-100);
}

.header, .section, .footer {
  display: grid;
  grid-template-columns: min(95vw, 130rem);
  justify-content: center;

}