@use '../abstract/' as a;

:root {
  // page control

  --font-fam-default: var(--fnt-fam-ubuntusans);
  --font-sz-default: var(--fnt-sz-m);
  --font-clr-default: var(--clr-zinc-700);
  --bg-clr-body: var(--clr-neutral-50);

  --font-fam-heading-main: var(--fnt-fam-ubuntusans);
  --font-fam-heading-sub: var(--fnt-fam-robotomono);
  --font-sz-heading-main: clamp(3rem, 0.7272727272727271rem + 6.0606060606060606vw, 8rem);
  --font-sz-heading-sub: clamp(2rem, 0.18181818181818188rem + 4.848484848484849vw, 6rem);
  --font-ls-heading: clamp(0.4rem, 0.12727272727272732rem + 0.7272727272727273vw, 1rem);
  --font-wt-heading-main: var(--fnt-wt-700);

  // fonts

  --fnt-fam-ubuntusans: 'Ubuntu', sans-serif;
  --fnt-fam-ubuntumono: 'Ubuntu Mono', monospace;
  --fnt-fam-poppoinssans: 'Poppins', sans-serif;
  --fnt-fam-robotomono: 'Roboto Mono', monospace;

  font-size: 62.5%;
  --fnt-sz-s: 1.4rem;
  --fnt-sz-m: 1.6rem;
  --fnt-wt-300: 300;
  --fnt-wt-400: 400;
  --fnt-wt-500: 500;
  --fnt-wt-600: 600;
  --fnt-wt-700: 700;

  // colours

  --clr-neutral-50: #{a.$neutral-50};
  --clr-neutral-100: #{a.$neutral-100};
  --clr-neutral-300: #{a.$neutral-300};
  --clr-neutral-300: #{a.$neutral-300};
  --clr-neutral-800: #{a.$neutral-800};
  --clr-green-900: #{a.$emerald-900};
  --clr-green-600: #{a.$emerald-600};
  --clr-teal-600: #{a.$teal-600};
  --clr-zinc-700: #{a.$zinc-700};
  --clr-zinc-800: #{a.$zinc-800};
  --clr-zinc-900: #{a.$zinc-900};
}

body {
  display: grid;
  min-height: 100vh;

  font-family: var(--font-fam-default);
  font-size: var(--font-sz-default);
  color: var(--font-clr-default);
  background: var(--clr-neutral-50);
}
