.header {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1rem;

  &-title {
    display: grid;
    gap: 1rem;
    margin-bottom: 10rem;
  }

  &__blurb {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
    line-height: 4rem;
    color: var(--clr-neutral-400);
  }
}
