.header {
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, (rgba(0, 0, 0, 0.9)), (rgba(0, 0, 0, 0.6))),
    url(assets/headerbg.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

  &__container {
    display: grid;
  }

  &-title {
    display: grid;
    gap: 1rem;
    margin-bottom: 10rem;
  }

  &__blurb {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
    line-height: 4rem;
    color: var(--clr-neutral-200);
  }
}
