@use '../abstract/' as a;

.main-menu {
  position: fixed;
  right: var(--nav-from-screen-edge);
  top: var(--nav-from-screen-edge);
  z-index: 500;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--nav-menu-spacing);

  @include a.breakpoint(md, min) {
    flex-direction: row;
    align-items: center;
  }

  &__list {
    order: 2;

    position: absolute;
    right: var(--nav-list-from-nav-edge);
    top: var(--nav-list-from-nav-edge);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--nav-item-spacing-mobile);

    overflow: hidden;
    width: 0;
    height: 0;
    opacity: 0;

    text-align: center;
    color: var(--nav-fnt-clr-mobile);

    background: var(--nav-bg-clr-mobile);
    border-radius: var(--border-radius);

    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);

    @include a.breakpoint(md, max) {
      @at-root .btn--main-menu[aria-expanded='true'] ~ #{&} {
        width: calc(100vw - 6rem);
        height: calc(100vh - 6rem);
        opacity: 1;
      }
    }

    @include a.breakpoint(md, min) {
      flex-direction: row;
      gap: var(--nav-item-spacing);

      width: max-content;
      height: max-content;

      color: var(--nav-fnt-clr-desktop);

      background: var(--nav-bg-clr-desktop);
      opacity: 1;
    }
  }

  &__item {
    width: max(60%, 20rem);
  }

  &__link {
    text-transform: uppercase;
    display: inline-block;
    padding-block: var(--size-1);
    padding-inline: var(--size-2);
    width: 100%;
    border-radius: var(--border-radius);
    letter-spacing: 2px;
    font-size: var(--fnt-sz-s);

    transition: 0.4s ease-in-out;

    &:hover {
      background: var(--nav-hover-bg-clr-mobile);
      color: var(--nav-hover-fnt-clr-mobile);

      @include a.breakpoint(md, min) {
        background: var(--nav-hover-bg-desktop);
        color: var(--nav-hover-fnt-clr-desktop);
      }
    }
  }
}

.burger {
  display: block;
  position: relative;

  &,
  &::before,
  &::after {
    height: 2px;
    width: 26px;
    background: var(--clr-zinc-700);
    transition: 400ms ease-in-out;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    top: 0.6rem;
    left: 0;
  }

  &::after {
    bottom: 0.6rem;
    right: 0;
  }

  @at-root .btn--main-menu:hover #{&}::before {
    transform: translateY(2px);
  }

  @at-root .btn--main-menu:hover #{&}::after {
    transform: translateY(-2px);
  }

  @at-root .btn--main-menu[aria-expanded='true'] #{&} {
    transform: rotate(45deg);
  }

  @at-root .btn--main-menu[aria-expanded='true'] #{&}::before {
    width: 13px;
    transform: rotate(90deg);
    left: 6.5px;
  }

  @at-root .btn--main-menu[aria-expanded='true'] #{&}::after {
    width: 13px;
    transform: rotate(90deg);
    right: 6.5px;
  }
}
