@use '../abstract/' as a;

.btn {
  cursor: pointer;

  &--main-menu {
    display: grid;
    place-items: center;
    background: var(--clr-neutral-50);
    width: 45px;
    aspect-ratio: 1;
    opacity: 0;
    border-radius: 9999rem;
    animation: 2s from-right;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    z-index: 1000;

    @include a.breakpoint(lg, min) {
      display: none;
    }
  }
}
