@use '../abstract/' as a;

.icon-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  justify-items: center;
  gap: 3rem;

  @include a.breakpoint(lg, min) {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  &__icon {
    width: 7rem;
    aspect-ratio: 1;
    transition: 0.4s ease-in-out;

    &:hover {
      scale: 1.5;
    }
  }
}
